<!--今週のお題を表示-->
<div class="col-md-12">
  <%= render 'subjects/three_subjects' %> 
</div>
  
<!--新規作成ボタン-->
<div class="text-center my-5 offset-md-1 col-md-10">
    <%= link_to "新規小説作成", new_novel_path, class: 'btn btn-new btn-block' %>
</div>