<div class="row">
  <%= render "users/top" %>
  
  <!--投稿した作品一覧を表示-->
  <%= render "users/navtab", user: @user, user_novels: @novels, url: "cards/draft_cards" %>
  
  <!--アカウント削除ボタン-->
  <div class="col-md-12 text-center mt-5">
    <%= link_to "アカウント削除", @user, method: :delete, class: 'btn btn-delete' %>
  </div>
</div>
