<div class="row">
  <!--お題を表示-->
  <div class="my-5 col-md-12">
    <%= render 'subjects/three_subjects' %> 
  </div>
  
  <!--新規作成ボタン-->
  <div class="text-center my-5 offset-md-1 col-md-10">
    <%= link_to "新規小説作成", new_novel_path, class: 'btn btn-new btn-block' %>
  </div>
  
  <!--投稿した作品一覧を表示-->
  <%= render "users/navtab", user: @user, user_novels: @novels, url: "cards/top_cards" %>
  
  <!--アカウント削除ボタン-->
  <div class="col-md-12 text-center mt-5">
    <%= link_to "アカウント削除", @user, method: :delete, class: 'btn btn-delete' %>
  </div>
</div>
