<div class="text-center col-md-12">
  <h1 class="my-5 font-weight-bold">一週三題小説</h1>
  <p class="mt-4">
    毎週月曜日に3つのお題がランダムで出題されます。<br>
    3つのお題を全て含んだ短編小説を、その週の日曜日までに書き上げて投稿してください。</p>
    <% if !logged_in? %>
      <p>作品の投稿にはアカウント登録が必要です。アカウント登録は<%= link_to 'こちら', signup_path %></p>
    <% else %>
      <p>小説の新規作成は<%= link_to 'ユーザーページ', user_path(current_user) %>から作成できます。</p>
    <% end %>
  </p>
</div>
<div class="col-md-12">
  <%= render 'subjects/three_subjects' %>
</div>