.btn-favorite{
    color: white;
    background-color: rgba(229,115,115,0.5);
    border-radius: 50px;
    font-size: 13px;
    width: 200px;
}

.btn-favorite:hover{
    color: white;
    background-color: #e57373;
}