.btn-favorite{
    color: white;
    background-color: rgba(104,158,57,0.5);
    border-radius: 50px;
    font-size: 13px;
    width: 300px;
}

.btn-favorite:hover{
    color: white;
    background-color: #689e39;
}