// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-config{
    color: white;
    background-color: rgba(104,158,57,0.5);
    border-radius: 100vh;
    font-size: 13px;
}

.btn-config:hover{
    color: white;
    background-color: #689e39;
}