// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-new{
    color: white;
    background-color: rgba(104,158,57,0.5);
    border-radius: 50px;
    font-size: 13px;
}

.btn-new:hover{
    color: white;
    background-color: #689e39;
}

.btn-delete{
    color: white;
    background-color: rgba(210,48,47,0.5);
    border-radius: 50px;
    font-size: 13px;
    width: 300px;
}

.btn-delete:hover{
    color: white;
    background-color: #d2302f;
}

.tab-black{
    color: black!important;
    background-color: rgba(0,0,0,0)!important;
}