<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand" href="/">一週三題小説</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item"><%= link_to current_user.name, user_path(current_user), class: "nav-link" %></li>
          <li class="nav-item"><%= link_to 'ログアウト', logout_path, method: :delete, class: "nav-link" %></li>
        <% else %>
          <li class="nav-item"><a href="/login" class="nav-link">ログイン</a></li>
          <li class="nav-item"><a href="/signup" class="nav-link">新規登録</a></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>